<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include("../fragmente/head") %>
    <title>Galerie Statică</title>
</head>
<body>
<%- include("../fragmente/header") %>

<main>
    <main>
        <h2>Galerie Statică</h2>
        <%- include("../fragmente/galerie-fragment", {galerie: galerie}) %>
    </main>
</main>

<%- include("../fragmente/footer") %>
</body>
</html>