@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

:root {
    --padding-standard: 8px;
    --culoare-galben : #FFC215;
    --culoare-detalii : #FF5115;
    --culoare-alba : white;
    --culoare-portocalie: #DB8F2A;
    --culoare-rosie: #DB372A
}
html {
    font-size : 18px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--culoare-galben);
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    border-bottom: 4px solid var(--culoare-portocalie);
}

body{
    --spatiere-pagina:100px;
    --spatiere-mica:20px;
}

main {
    padding-top:var(--spatiere-mica);
    padding-bottom: var(--spatiere-mica);
    padding-left: var(--spatiere-pagina);
    padding-right: var(--spatiere-pagina);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#noutati iframe{
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border: 3px solid var(--culoare-portocalie);
    box-sizing: border-box;
}


#TitluPrinc {
    color: var(--culoare-detalii);
    cursor: pointer;
}


section {
    padding-top: var(--spatiere-mica);;
    padding-bottom: var(--spatiere-mica);;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-top: 4px solid var(--culoare-portocalie);
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2);
}


.taburi-iframe>a{
    display: inline-block;
    padding: 10px 15px;
    font-size : 10px;
    width: 100px;
    height: 50px;
    border: 1px solid var(--culoare-rosie);
    background-color: var(--culoare-galben);
    border-top: none;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-weight: bold;
    margin: 0 3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-wrap: break-word;
}

.taburi-iframe{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: -4px;
    position: relative;
    padding-bottom: 5px;
}
.container-iframe{
    width: 100%;
    /*max-width: 500px;
    min-width: 200px*/
    display: flex;
    flex-direction: column-reverse;
}
.container-iframe>iframe{
    width:100%;
}




#link-top {
    position: fixed;
    bottom: 0.3em;
    opacity: 0.5;
    left: 0.3em;
    width: 3rem;
    height: 3rem;
    box-sizing: border-box;
    background: var(--culoare-portocalie);
    border: 5px black solid;
    transform: rotate(45deg);
    border-radius: 0;
    border-top-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    text-decoration: none;
}

#link-top:hover {
    opacity: 1;
}


#link-top .shape-container {
    width: 100%;
    height: 100%;
    transform: rotate(-45deg);
    display: flex;
    justify-content: center;
    align-items: center;
}



#link-top .pizza-slice {
    width: 95%;
    height: 95%;
    background: conic-gradient(
            from 90deg,
            transparent 0deg 45deg,
            var(--culoare-rosie) 45deg 135deg,
            transparent 135deg 360deg
    );

    border-radius: 50%;
    transform: translateY(-25%);
}
















