<footer>
    <p>IP-ul tău: <%= ip %></p>
    <h4>Contact</h4>
    <address id="contact">
        <!-- subpunctul 13 c , email-->
        <p>Scrie un mail către <a href="mailto:legocorner@gmail.com">legocorner@gmail.com</a></p>

        <!-- subpunctul 13 a -->
        <p>Sună la <a href="tel:+40712345678">0712345678</a></p>
        <!-- subpunctul 13 d  , link catre whatsapp-->
        <p><a href="https://wa.me/40712345678" target="_blank">Chat pe WhatsApp</a></p>
    </address>
    <!-- link de download , subpunctul 11 d-->
    <p><a href="/resurse/downloadables/CV%20Bercea%20Mihnea-Cristian.pdf" download>Descarcă CV-ul meu</a></p>
    <!-- bonus afisare pdf-->
    <embed src="/resurse/pdf%20files/Termeni-si-Conditii-Generale.pdf" type="application/pdf" width="400" height="500">
    <p>
        <!-- subpunctul 13 b , locatie google maps-->
        Ne puteți găsi la locația următoare:
        <a href="https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83/@44.4355393,26.0970118,17z/data=!3m1!4b1!4m6!3m5!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh?entry=ttu&g_ep=EgoyMDI1MDIyNi4xIKXMDSoASAFQAw%3D%3D" target="_blank" >
            Strada Academiei 14, București 010014
        </a>
    </p>
    <!-- bonus iframe cu locatie-->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.884114398501!2d26.097011776586942!3d44.43553930148119!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2sro!4v1741117894327!5m2!1sro!2sro"
            width="200"
            height="150"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    <p>    <small>
        <!-- Subpunctul 14-->
        &copy; <time datetime="2025-03-04">4 martie 2025</time> Bercea Mihnea-Cristian , toate drepturile rezervate.
    </small></p>


    <a href="#" id="link-top" title="Mergi sus">
        <div class="shape-container">
            <div class="pizza-slice"></div>
        </div>
    </a>

    <p class="banner">Acesta este un proiect școlar!</p>
</footer>