<head>
    <title>LegoCorner</title> <!-- Titlul ferestrei de susss -->
    <meta charset="UTF-8" /> <!-- traducerea in cod binar a caracterelor (utf 8 , un singur octet ) face buba daca tu ai pus utf 8 si browserul e in utf 16  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- va fi explicat când ajungem la CSS -->
    <meta name="keywords" content="lego, lego romania, magazin lego, jucarii, cadouri, cadouri copii, set lego, cadouri adulti, cumpara lego"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
    <meta name="description" content="LegoCorner - Magazin online dedicat pasionaților de LEGO! Găsește seturi LEGO originale, piese individuale și accesorii pentru construcțiile tale. Comandă acum și dă viață imaginației tale!" /><!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->
    <meta name="author" content="Bercea Mihnea Cristian">  <!-- autorul/autoarea paginii-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="icon" type="image/png" href="/resurse/imagini/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/resurse/imagini/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/resurse/imagini/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/resurse/imagini/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/resurse/imagini/favicon/site.webmanifest" />

    <link rel="stylesheet" type="text/css" href="/resurse/css/general.css" />
    <link rel="stylesheet" type="text/css" href="/resurse/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/resurse/css/medium.css" />
    <link rel="stylesheet" type="text/css" href="/resurse/css/small.css" />
    <link rel="stylesheet" type="text/css" href="/resurse/css/tabel.css" />
    <link rel="stylesheet" type="text/css" href="/resurse/css/meniu.css" />
    <link rel="stylesheet" type="text/css" href="/resurse/css/navscss.css" />
    <link rel="stylesheet" type="text/css" href="/resurse/css/print.css" />
    <link rel="stylesheet" type="text/css" href="/resurse/css/style.css">
    <link rel="stylesheet" type="text/css" href="/resurse/css/Efectecss.css" />
    <!-- css curs 2 -->
    <style>
        /*p{*/
        /*    font-size: 20px;*/
        /*    color: sienna;*/
        /*    font-style: italic;*/
        /*}*/
        /*p{*/
        /*    font-size: 20px;*/
        /*    color: darkolivegreen;*/
        /*    font-style: italic;*/
        /*}*/
    </style>
</head>