<header class="header-flex">

    <a href="/home" style="text-decoration:none;"><h1 id="TitluPrinc">LegoCorner</h1></a>

    <!-- Buton schimbare temă light/dark -->


    <nav aria-label="Meniu principal" class="main-nav">
        <input type="checkbox" id="hamburger" class="hamburger-checkbox" />
        <label for="hamburger" class="hamburger-label" aria-label="Deschide meniul">
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
        </label>

        <ul class="nav-list">
            <li class="nav-item has-submenu" aria-haspopup="true" aria-expanded="false">
                <a href="#" class="nav-link">Pagini Site</a>
                <ul class="submenu">
                    <li class="submenu-item"><a href="/galerie" class="submenu-link">Galerie Statică</a></li>
                    <li class="submenu-item"><a href="/galerieanimata" class="submenu-link">Galerie Dinamică</a></li>
                    <li class="submenu-item"><a href="#contact" class="submenu-link">Contact</a></li>
                </ul>
            </li>

            <li class="nav-item has-submenu" aria-haspopup="true" aria-expanded="false">
                <a href="#" class="nav-link">
                    <i class="fas fa-home nav-icon"></i>
                    <span class="nav-text">Acasă</span>
                </a>
                <ul class="submenu">
                    <li class="submenu-item"><a href="#categorii" class="submenu-link">Categorii</a></li>
                    <li class="submenu-item"><a href="#promotii" class="submenu-link">Promoții</a></li>
                    <li class="submenu-item"><a href="#noutati" class="submenu-link">Noutăți</a></li>
                    <li class="submenu-item"><a href="#FAQ" class="submenu-link">Întrebări frecvente</a></li>
                    <li class="submenu-item"><a href="#member" class="submenu-link">Devino membru</a></li>
                </ul>
            </li>

            <li class="nav-item has-submenu" aria-haspopup="true" aria-expanded="false">
                <a href="/produse" class="nav-link">Produse</a>
                <ul class="submenu">
                    <li class="submenu-item"><a href="/produse" class="submenu-link">Toate</a></li>
                    <li class="submenu-item"><a href="/seturi" class="submenu-link">Seturi</a></li>
                    <% if (typeof categorii !== "undefined" && categorii.length) { %>
                        <% categorii.forEach(function(cat) { %>
                            <li class="submenu-item">
                                <a href="/produse?categorie=<%= cat %>" class="submenu-link"><%= cat %></a>
                            </li>
                        <% }); %>
                    <% } %>
                </ul>
            </li>
            
        </ul>
    </nav>
    <button id="btn-theme" title="Schimbă tema">
      <i id="icon-theme" class="fa-regular fa-moon"></i>
    </button>
    <script src="/resurse/js/tema.js"></script>
</header>